{% extends "ofahrtbase/base.html" %}
{% load staticfiles %}
{% block title %}Startseite{% endblock %}
{% block content %}
    <div id="innercontent">
        {% if ofahrt.orga_reg_open or ofahrt.workshop_reg_open %}
            <div class="alert alert-info" role="alert"><b>Hinweis:</b> Für die kommende Ofahrt suchen wir noch
                {% if ofahrt.orga_reg_open %} Orgas {% endif %}
                {% if ofahrt.orga_reg_open and ofahrt.workshop_reg_open %} und {% endif %}
                {% if ofahrt.workshop_reg_open %} Menschen die einen Workshop anbieten möchten{% endif %}. Weitere
                Informationen findest du <a class="alert-link" href="{% url "staff:signup" %}">hier</a>.
            </div>
        {% endif %}
        <img id="welcomeimage" src="{% static "ofahrtbase/images/weggeWesen.jpg" %}">
        <h2>Willkommen auf der Startseite der Ofahrt!</h2>
        <p>Die Ofahrt ist die Erstsemester*innenfahrt der Fachschaft Informatik an der TU Darmstadt. Ziel der Ofahrt ist
            es, Kontakte zwischen den neuen Studierenden zu knüpfen, die Gelegenheit zu geben sich in verschiedenen
            Workshops über gemeinsame Interessen auszutauschen und über die <a href="http://d120.de/ophase">Ophase</a>
            herausgehende hilfreiche Informationen zu vermittelt zu bekommen.</p>
        {% if ofahrt %}
            <p>Im Wintersemester {{ ofahrt.begin_date.year }}/{{ ofahrt.end_date.year |add:"1" }} findet die Ofahrt vom
                <b>{{ ofahrt.begin_date|date:"d.m.Y" }}</b> bis zum <b>{{ ofahrt.end_date|date:"d.m.Y" }}</b> auf der
                Starkenburg bei Heppenheim (ungefähr 30km südlich von Darmstadt) statt. Die Anmeldung für Erstsemester
                des Studiengangs Bachelor of Science Informatik bzw. Bachelor of Education Informatik an der TU
                Darmstadt erfolgt auf dieser Seite unter dem Menüpunkt <a
                        href="{% url "members:signup" %}">Anmeldung</a>. Weitere Informationen zur
                Ofahrt werden im Rahmen der Ophase vermittelt.</p>
        {% endif %}

    </div>
{% endblock %}
