{% extends "wiki/wikibase.html" %} {% load staticfiles %} {% block title %}Wiki{% endblock %} {% block taskcontent %} {% load bootstrap3 %}

{% include "wiki/wikinav.html" %}


  <h3 style="margin-bottom:25px;">Artikel {{ titel }} anlegen</h3>
  <div class="alert alert-warning" role="alert"><b>Information:</b> Diese Seite existiert bisher noch nicht. Du hast die Möglichkeit sie mit dem folgenden Formular anzulegen.</div>
  <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} speichern
    </button>
  {% endbuttons %}
</form>


{% endblock %}
