{% extends "wiki/wikibase.html" %} {% load staticfiles %} {% block title %}Wiki{% endblock %} {% block taskcontent %} {% load bootstrap3 %}

{% include "wiki/wikinav.html" %}



  <h3 style="margin-bottom:25px;">Artikel {{ article.title }} bearbeiten</h3>

  <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} speichern
    </button>
  {% endbuttons %}
</form>

{% endblock %}
