{% extends "admin/breadcrumbs_adminaction.html" %}


{% block content %}
<p>
Es wurde{{ persons.count|pluralize:"n" }} {{ persons.count }} Person{{ persons.count|pluralize:"en" }} ausgewählt.
</p>

<textarea cols="60" rows="15">
{% for person in persons %}insert into users (id,email,fullname,debt_limit) values ({{ person.kdv_barcode }},"{{ person.email }}","{{ person.first_name }} {{ person.last_name }}",1500);
insert into user_barcodes(user_id,code) values ({{ person.kdv_barcode }},"{{ person.kdv_barcode }}");
{% endfor %}</textarea>

{% endblock %}
