{% extends "ofahrtbase/base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
  <div id="faq">
    {% if categories.count == 0 %}
    <div class="alert alert-danger" role="alert"><b>Information:</b> Derzeit sind keine FAQ-Kategorien im System hinterlegt.</div>
    {% else %}
    <div id="faqnav">
      <ul>
      {% for cat in categories %}
      <li><a href="#c{{ cat.pk }}">{{ cat.name }}</a></li>
      <ul class="sublist">
        {% for question in cat.question_set.all %}
        <li><a href="#q{{ question.pk }}">{{ question.text }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </div>
  {% for cat in categories %}
  <h1><a name="c{{ cat.pk }}"></a>{{ cat.name }}</h1>
  {% if cat.question_set.all.count == 0 %}
  <div class="alert alert-danger" role="alert"><b>Information:</b> In dieser Kategorie sind derzeit keine Fragen hinterlegt.</div>
  {% else %}
    {% for question in cat.question_set.all %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a name="q{{ question.pk }}"></a>{{ question.text}}</h3>
      </div>
      <div class="panel-body">
        {{ question.bbanswer | safe}}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
