{% extends "tasks/taskbase.html" %} {% load staticfiles %} {% block title %}Aufgabenverwaltung{% endblock %} {% block taskcontent %} {% load bootstrap3 %}

  <h3 style="margin-bottom:25px;">Ticket #{{ object.id }} - {{ object.name }}</h3>
  <ol class="breadcrumb">
    <li><a href="{% url "tasks:overview" %}">Aufgabenverwaltung</a></li>
    <li><a href="{% url "tasks:showticket" object.id %}">Ticket #{{ object.id }}</a></li>
    <li class="active">Ticket bearbeiten</li>
  </ol>
  <p>
    Auf dieser Seite kannst du das Ticket <i>#{{ object.id }} - {{ object.name }}</i> anderen Bearbeiter*innen zuweisen. Aufgeführt werden nur Benutzer*innen, welche Zugriff auf die Kategorie des Tickes haben.
  </p>
  <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} Änderungen speichern
    </button>
  {% endbuttons %}
</form>


{% endblock %}
