{% extends "tasks/taskbase.html" %} {% load staticfiles %} {% block title %}Aufgabenverwaltung{% endblock %} {% block taskcontent %} {% load bootstrap3 %}

  <h3 style="margin-bottom:25px;">Ticket #{{ ticket.id }} - {{ ticket.name }}</h3>
  <ol class="breadcrumb">
    <li><a href="{% url "tasks:overview" %}">Aufgabenverwaltung</a></li>
    <li><a href="{% url "tasks:showticket" ticket.id %}">Ticket #{{ ticket.id }}</a></li>
    <li class="active">Ticket kommentieren</li>
  </ol>

  <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} Kommentar speichern
    </button>
  {% endbuttons %}
</form>


{% endblock %}
