{% extends "ofahrtbase/base.html" %}
{% block title %}Zimmerzuteilung{% endblock %}
{% block morehead %}
{% load static %}<link rel='stylesheet' href='{% static "ofahrtbase/jquery-ui.min.css" %}' />
  <link rel='stylesheet' href='{% static "members/roomassignment.css" %}' />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src='{% static "members/roomassignment.js" %}'></script>
  <script src='{% static "ofahrtbase/jquery-ui.min.js" %}'></script>{% endblock %}
{% block content %}
{% load bootstrap3 %}
<p>
  Hier findet die Zuteilung der Teilnehmer*innen auf die einzelnen Zimmer statt.
  <div class="btn-group" role="group" aria-label="...">
    <a type="button" class="btn btn-default" href="{% url "members:roomexport" %}">Export nach Raum</a>
    <a type="button" class="btn btn-default" href="{% url "members:personexport" %}">Export nach Person</a>
  </div>
</p>
<div id="messages"></div>
<div id="rooms">
  {% for room in rooms %}
  {% with members=room.member_set.all staff=room.get_staff_users %}
  <div id="{{ room.id }}" class="room{% if members.count > room.capacity %} fullroom{% endif%}">
    <div class="roomtitle">
        <span class="roomname" data-roomid="{{ room.id }}">{{ room }}</span> (<span class="counter">{{members.count}}</span>/<span class="max">{{ room.capacity }}</span>){% if members.count > room.capacity %} <span class="label label-danger">zu voll!</span>{% endif%}
    </div>
    <div class="sortablearea">
      {% for member in members %}
      <div class="member" data-type="member" data-userid="{{ member.id }}">
          {{ member }}   <span class="{% if member.gender == 'm' %} fa fa-mars {% elif member.gender == 'w' %} fa fa-venus {% else %} fa fa-neuter {% endif %}"></span>
      </div>
      {% endfor %}
      {% for member in staff %}
          <div class="member" data-type="staff" data-userid="{{ member.id }}">
              {{ member.get_full_name }} (STAFF)
          </div>
      {% endfor %}
    </div>
  </div>
  {% endwith%}
  {% endfor %}
</div>
<div id="unassignedmembers">
  <b>Noch nicht zugeteilt (<span class="counter">{{users.count}}</span>):</b>
  <div class="sortablearea">
    {% for member in members %}
    <div class="member" data-type="member" data-userid="{{ member.id }}">{{ member }}  <span class="{% if member.gender == 'm' %} fa fa-mars {% elif member.gender == 'w' %} fa fa-venus {% else %} fa fa-neuter {% endif %}"></span></div>
    {% endfor%}
    {% for member in users %}
    <div class="member" data-type="staff" data-userid="{{ member.id }}">{{ member.get_full_name }} (STAFF)</div>
    {% endfor%}
  </div>
</div>

<script>
    ajaxurl = "{% url "members:saveroomassignment" %}";
</script>
{% endblock %}
