table {
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 3px solid #eeeeee;
    padding: 5px 7px 5px 7px;
}

td {
    background-color: white;
}

th {
    background-color: #464646;
    color: white;
}

td.sortablearea {
    padding: 0;
}

td.noslotroom {
    background-color: lightsalmon;
}

td.noslotnoroom {
    background-color: grey;
}

td .workshop {
    width: 100%;
}

div.workshop {
    background-color: #3a87ad;
    padding: 5px;
    text-align: center;
    display: inline-block;
    color: white;
    cursor: grab;
}

div#unassigned {
    background-color: lightgrey;
    padding: 10px 10px 5px 10px;
    margin-top: 5px;
}

#unassigned .workshop {
    margin: 0 0 5px 5px;
}