#board {
    display: flex;
}

#unassignedmembers {
    color: white;
    width: 250px;
    padding: 15px;
    min-height: 400px;
    background-color: #464646;
    border: 1px solid transparent;
    border-radius: 6px;
    flex-grow: 0;
}

#rooms {
    flex-grow: 1;
}

#rooms > .room {
    background-color: #dcdcdc;
    width: 200px;
    margin: 0 0 15px 15px;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    border-radius: 6px;
}

.fullroom {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border: 1px solid transparent !important;
    border-radius: 6px;
}

.title {
    font-weight: bold;
    margin-bottom: 6px;
}

.member {
    background-color: #EFEFEF;
    padding: 4px 4px 4px 8px;
    border: 1px #7F7F7F solid;
    color: black !important;
    margin-bottom: 5px;
    cursor: grab;
}

.sortablearea {
    min-height: 290px;
}

#unassignedmembers > .sortablearea {
    min-height: 390px;
}

#messages {
    height: 70px;
    width: auto;
    position: absolute;
    bottom: 50px;
    margin-left: 50px;
}
