
{% extends "ofahrtbase/base.html" %}
{% load staticfiles %}
{% block title %}Passwort ändern{% endblock %}
{% block morehead %}
<link href="{% static "staff/changepassword.css" %}" rel="stylesheet">
{% endblock%}
{% block content %}
  {% load bootstrap3 %}
  <div id="passwordcontainer">
    <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "ok" %} Passwort ändern
      </button>
    {% endbuttons %}
    </form>
  </div>
{% endblock %}
