{% extends "ofahrtbase/base.html" %}
{% load staticfiles %}
{% block title %}Kontakt{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    <div id="innercontent">
        <p>
            Du möchtest Kontakt mit den Organisator*innen der Ofahrt aufnehmen? Kein Problem. Schreibe uns einfach eine E-Mail
            an <b>ofahrt[at]d120.de</b>, um alle Orgas zu kontaktieren oder an <b>ofahrt-leitung[at]d120.de</b>, um nur
            die Koordinator*innen des Organisationsteams zu erreichen.<br>
            Alternativ kannst du zum Kontakt aller Orgas auch das
            Formular auf dieser Seite verwenden:
        </p>

        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">
                    {% bootstrap_icon "ok" %} Absenden
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
