{% extends "ofahrtbase/base.html" %}
{% load staticfiles %}
{% block title %}Orgaregistrierung{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    <div id="signupform">
    <h2>Orgaanmeldung</h2>
    {% if orga_reg_open and open_orga_jobs > 0 %}
	<div class="alert alert-info" role="alert"><strong>Fachschaftsaccount?</strong> Melde dich einfach mit deinen FS-Zugangsdaten
		<a href="{% url 'admin:index' %}">hier</a> an</div>
            <p>{{ bla }}
                Mit diesem Formular kannst du dich als Organisator für die Erstsemesterfahrt melden. <br/>
                Deine hier
                angegebenen Daten werden nur für die Organisation und Durchführung der Ofahrt verwendet und im Anschluss
                wieder gelöscht.
            </p>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        {% bootstrap_icon "ok" %} Anmelden
                    </button>
                {% endbuttons %}
            </form>
	    {% elif open_orga_jobs > 0 and not orga_reg_open %}
            <div class="alert alert-warning" role="alert"><b>Hinweis:</b> Die Anmeldung für Orgas ist derzeit
		    geschlossen. 
	    </div>
	    {% else %}
            <div class="alert alert-warning" role="alert"><b>Hinweis:</b> Es existieren keine Orgajobs im System oder es sind alle belegt.
	    </div>
        {% endif %}
    </div>
{% endblock %}
