{% extends "workshops/workshopbase.html" %} {% load staticfiles %} {% block title %}Workshop bearbeiten{% endblock %} {% block workshopcontent %} {% load bootstrap3 %}

  <h3 style="margin-bottom:25px;">Workshop #{{ object.id }} - {{ object.name }}</h3>
  <ol class="breadcrumb">
    <li><a href="{% url "workshops:overview" %}">Workshopverwaltung</a></li>
    <li><a href="{% url "workshops:show" object.id %}">{{ object.name }}</a></li>
    <li class="active">Workshop bearbeiten</li>
  </ol>
  <p>
    Auf dieser Seite kannst du den Workshop <i>#{{ object.id }} - {{ object.name }}</i> bearbeiten. Um einen neuen Workshop zu beantragen verwende bitte <a href="{% url "workshops:create" %}">dieses Formular</a>.
  </p>
  <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "pencil" %} Änderungen speichern
    </button>
  {% endbuttons %}
</form>


{% endblock %}
