{% extends "workshops/workshopbase.html" %} {% load staticfiles %} {% block title %}Workshop anschauen{% endblock %} {% block workshopcontent %} {% load bootstrap3 %}

  <b>Anbieter:</b> {% if workshop.host.all.count == 0 %}<i>- derzeit niemand -</i>{% endif %}{% for host in workshop.host.all %}{{host}}{% if not forloop.last %}, {% endif %}{% endfor %}
<br /><br />
  <ol class="breadcrumb">
    <li><a href="{% url "workshops:overview" %}">Workshopverwaltung</a></li>
    <li class="active">{{ object.name }}</li>
  </ol>
  {% if True %}
  <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <b>Hinweis:</b> Dieser Workshop ist bisher noch nicht durch den Workshoporga geprüft worden und somit unter Vorbehalt im System aufgeführt.</div>
  {% endif %}
  <h3 class="h3">{{ object.name }}</h3>
  <div style="margin-top: -22px;">Akzeptiert: {% if object.accepted %}<span style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %} &nbsp; Geprüft: {% if object.proved%}<span style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</div>
  <br />{% if object.description|length == 0%}<i>- derzeit keine Beschreibung vorhanden -</i>{% else %}{{ object.description }}{% endif %}

  <br /><br />

  <b>Maximale Teilnehmer*innen:</b> {{ object.maxmembers }}<br /><br />
  {% if  object.requirements|length == 0 %}
  <i>Für diesen Workshop werden keine weiteren Materialien benötigt.</i>
  {% else %}
  <b>Dieser Workshop benötigt folgende Materialien:</b><br />
  {{ object.requirements }}
  {% endif %}
  <br />
  <br />

  {% if  object.conditions|length == 0 %}
  <i>Für diesen Workshop gibt es keine Teilnahmebeschränkung.</i>
  {% else %}
  <b>Zur Teilnahme an diesem Workshop wird folgendes vorrausgesetzt:</b><br />
  {{ object.conditions }}
  {% endif %}
    <br />
    <br />


  {% if  object.otherstuff|length > 0 %}
  <b>Sonstige Informationen:</b><br />
  {{ object.otherstuff }}

    <br />
    <br />
  {% endif %}
  <div class="btn-group" role="group" aria-label="...">
    {% if request.user in object.host.all or perms.workshops.editeveryworkshop %}<a href="{% url "workshops:edit" object.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> bearbeiten</a>{% endif %}
    {% if perms.workshops.assignworkshop %}<a href="{% url "workshops:reassign" object.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Zuweisung ändern</a>{% endif %}
    {% if object.host.all.count == 0 %}<a href="{% url "workshops:take" object.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> diesen Workshop übernehmen</a>{% endif %}
    {% if perms.workshops.assignworkshop %}<a href="{% url "workshops:duplicate" object.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> diesen Workshop dublizieren</a>{% endif %}
    {% if request.user in object.host.all or perms.workshops.editeveryworkshop %}<a href="{% url "workshops:delete" object.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> diesen Workshop löschen</a>{% endif %}
  </div>
{% endblock %}
